ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a:focus {
  outline: none;
}

input {
  padding: 0;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  outline: none;
}

.lop-container,
.head-container,
.wwd-container,
.ourteam-container,
.hero-container,
.heroport-container,
.pluses-container,
.basement-container,
.regcustomers-container {
  /* outline: solid red 2px; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.all {
  font-family: Roboto;
  font-size: 14px;
  position: relative;
}

:root {
  --for-blue-parts: #2196f3;
  --for-white-parts: #f5f4fa;
  --for-true-white-parts: #ffffff;
  --for-black-parts: #2f303a;
  --for-light-grey-parts: #ffffff99;
  --for-grey-parts: #757575;
  --for-true-black-parts: #212121;
  --for-strange-white-parts: #eeeeee;
}

.center {
  padding-top: 80.5px;
}

.scroll-button {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition-property: width, height;
  transition-duration: 250ms;
  background-color: #757575;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button:hover {
  width: 110px;
  height: 110px;
}

.scroll-button:hover .scroll-button-icon {
  width: 80px;
  height: 80px;
}

.scroll-button-icon {
  width: 70px;
  height: 70px;
  transition-property: width, height;
  transition-duration: 250ms;
}

.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border: var(--for-strange-white-parts) 1px solid;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2;
  animation-name: enter-from-up;
  animation-duration: 1s;
}

.head-logobluepart {
  color: var(--for-blue-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.head-logo {
  background-image: linear-gradient(90deg, #2196f3, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 144px 31.2px;
}

.head-logoblackpart {
  color: var(--for-true-black-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.head-page {
  color: var(--for-true-black-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}

.head-page::after {
  width: 100%;
  height: 4px;
  content: "";
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  position: absolute;
  top: 45px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  transition-duration: 250ms;
  transition-property: transform;
}

.head-item:hover .head-page::after {
  opacity: inherit;
  transform: scaleX(1);
}

.head-item {
  position: relative;
}

.head-tel,
.head-email {
  color: var(--for-grey-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}

.head-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.head-icon-tel {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.head-email,
.head-tel {
  display: flex;
  align-items: center;
}

.head-list2 .head-item:hover .head-icon-mail,
.head-list2 .head-item:hover .head-icon-tel,
.head-list2 .head-item:hover .head-tel,
.head-list2 .head-item:hover .head-email,
.head-email:focus .head-icon-mail,
.head-tel:focus .head-icon-tel,
.head-tel:focus,
.head-email:focus {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}

.head-page:hover,
.head-page:focus {
  color: var(--for-blue-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-container,
.head-list2,
.head-list,
.wwd-container,
.ourteam-container,
.hero-container,
.pluses-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.head-logo {
  margin-right: 93px;
}

.head-list,
.head-list2 {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.head-list2 {
  margin-left: 298px;
}

/* Basement */
.basement {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--for-black-parts);
  animation-name: enter-from-down;
  animation-duration: 1s;
}

.basement-logo {
  margin-bottom: 20px;
  display: block;
  background: linear-gradient(90deg, #2196f3, #fff);
  -webkit-background-clip: text;
  background-size: 144px 31.2px;
  -webkit-text-fill-color: transparent;
}

.basement-logobluepart {
  color: var(--for-blue-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.basement-logowhitepart {
  color: var(--for-true-white-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.basement-adress {
  color: var(--for-true-white-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  width: 231px;
}

.basement-container {
  flex-direction: row;
  justify-content: start;
  align-content: normal;
  row-gap: 20px;
  display: flex;
}

.basement-tele,
.basement-mail {
  color: var(--for-light-grey-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}

.basement-tele:hover,
.basement-mail:hover {
  color: #2196f3;
}

.basement-list {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.basement-icons {
  margin-left: 70px;
}

.basement-icon-list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.basement-icon-title {
  color: #fff;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.basement-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.basement-icon-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 23px;
  cursor: pointer;
  display: block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
}

.basement-icon-link:hover,
.basement-icon-link:focus {
  background-color: #2196f3;
}

.basement-form {
  margin-left: 93px;
  width: 570px;
}

.basement-form-container {
  display: flex;
}

.basement-form-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.basement-form-input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
  color: #fff;
}

.basement-form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.basement-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.basement-form-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: left;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 28px 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
}

.basement-form-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
}

.basement-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  fill: #fff;
}

.heroindex {
  overflow: hidden;
}

.hero-container {
  justify-content: center;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}

.heroindex-whiteslog {
  color: var(--for-true-white-parts);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.heroindex-button {
  background-color: var(--for-blue-parts);
  color: var(--for-true-white-parts);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  outline: none;
  border: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  animation-name: enter-from-right;
  animation-duration: 1s;
}

.heroindex-button:focus,
.heroindex-button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  background-color: rgb(17, 91, 152);
}

.heroindex-button:active,
.heroindex-button:focus {
  outline: none;
  border: none;
}

.heroindex {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/heroindex-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

/*index Pluses */
.pluses-container {
  justify-content: space-between;
}

.pluses {
  padding-top: 94px;
  padding-bottom: 94px;
  overflow: hidden;
}

.head-item:first-child .head-page:after {
  opacity: 1;
  transform: scaleX(1);
}

.pluses-greytext {
  color: var(--for-grey-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.pluses-blackslog {
  color: var(--for-true-black-parts);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}

.pluses-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.pluses-icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--for-white-parts);
}

.pluses-item:first-child, .pluses-item:nth-child(2) {
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.pluses-item:last-child, .pluses-item:nth-child(3) {
  animation-name: enter-from-right;
  animation-duration: 1s;
}

/*index WWD(what we do) */
.wwd-container {
  justify-content: center;
  row-gap: 50px;
}

.wwd {
  padding-bottom: 94px;
  overflow: hidden;
}

.wwd-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  animation-name: enter-from-up;
  animation-duration: 1s;
}

.wwd-list,
.wwd-item {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.wwd-item {
  position: relative;
  z-index: -1;
}

.wwd-item:first-child {
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.wwd-item:nth-child(2) {
  animation-name: enter-from-down;
  animation-duration: 1s;
}

.wwd-item:last-child {
  animation-name: enter-from-right;
  animation-duration: 1s;
}

.wwd-photo-text {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  top: 224px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
}

/*index Our team */
.ourteam-container {
  justify-content: center;
  padding-top: 94px;
}

.ourteam {
  padding-bottom: 94px;
  background-color: var(--for-white-parts);
  overflow: hidden;
}

.ourteam-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  animation-name: enter-from-up;
  animation-duration: 1s;
}

.ourteam-icons {
  padding: 0px 32px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.ourteam-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  cursor: pointer;
  /* padding: 12px; */
}

.ourteam-icon-link {
  border-radius: 23px;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
}

.ourteam-icon-link:hover,
.ourteam-icon-link:focus {
  background-color: #2196f3;
}

.ourteam-icon-link:hover .ourteam-icon,
.ourteam-icon-link:focus .ourteam-icon {
  fill: white;
}

.ourteam-name {
  color: var(--for-true-black-parts);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam-text {
  color: var(--for-grey-parts);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.ourteam-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}

.ourteam-item {
  background-color: var(--for-true-white-parts);
  border-radius: 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ourteam-item:first-child, .ourteam-item:nth-child(2) {
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.ourteam-item:last-child, .ourteam-item:nth-child(3) {
  animation-name: enter-from-right;
  animation-duration: 1s;
}

.ourteam-photo {
  width: 270px;
  height: 260px;
}

/* Regular customers(regcustomers) */
.regcustomers {
  padding: 94px 0px;
  overflow: hidden;
}

.regcustomers-title {
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  animation-name: enter-from-up;
  animation-duration: 1s;
}

.regcustomers-icons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.regcustomers-icon-link {
  width: 170px;
  height: 92px;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  transition-duration: 250ms;
}

.regcustomers-icon-link:first-child, .regcustomers-icon-link:nth-child(2), .regcustomers-icon-link:nth-child(3) {
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.regcustomers-icon-link:last-child, .regcustomers-icon-link:nth-child(5), .regcustomers-icon-link:nth-child(4) {
  animation-name: enter-from-right;
  animation-duration: 1s;
}

.regcustomers-icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.regcustomers-icon-link:hover .regcustomers-icon,
.regcustomers-icon-link:focus .regcustomers-icon {
  fill: #2196f3;
}

.regcustomers-icon-link:hover,
.regcustomers-icon-link:focus {
  border: #2196f3 1px solid;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px rgba(0, 0, 0, 0.062745098) solid;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon:hover {
  fill: #2196f3;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: black;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
}

.modal-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding-left: 42px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-item:last-child .modal-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px 94px 16px;
}

.modal-item:last-child .modal-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-item:last-child .modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  fill: black;
  border-color: black;
  height: 18px;
  top: 29px;
  left: 12px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border-color;
  transition-duration: 250ms;
}

.modal-item:focus-within {
  fill: #2196f3;
}

.modal-item:hover .modal-icon, .modal-item:hover .modal-input {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-conditions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.modal-conditions-text {
  margin-left: 7px;
  margin-right: 4px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-conditions-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-conditions-checkbox {
  width: 16px;
  height: 15px;
}

.modal-button {
  border-radius: 4px;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
}

.modal-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
  background-color: #1768aa;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backmenu-opened {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #757575;
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: width;
}

.backmenu-closed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: enter-from-left;
  animation-duration: 1s;
}

.backmenu-closed-title {
  writing-mode: vertical-lr;
  color: #fff;
}

.backmenu-icon {
  fill: #f1b31c;
  width: 20px;
  height: 20px;
}

.backmenu-opened:hover {
  opacity: inherit;
  width: 300px;
}

.backmenu-text {
  color: #ffffff;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
}

.backmenu-text:hover {
  color: #f1b31c;
}

.backmenu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.backmenu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@keyframes enter-from-up {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes enter-from-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes enter-from-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes enter-from-down {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes enter-from-upleft {
  0% {
    transform: translate(-1000px, -1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes enter-from-downleft {
  0% {
    transform: translate(-1000px, 1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes enter-from-downright {
  0% {
    transform: translate(1000px, 1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes enter-from-upright {
  0% {
    transform: translate(1000px, -1000px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
@keyframes enter-from-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */