.backmenu__closed {
  position: fixed;
  top: 0;
  bottom: 0;
  @include area($height: none, $width: 20px);
  background-color: $for-grey-parts;
  display: flex;
  justify-content: center;
  align-items: center;
  @include animation($name: enter-from-left);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 35px;
  }
  @media screen and (min-width: 1200px) {
    width: 50px;
  }


  &__title {
    writing-mode: vertical-lr;
    color: $for-true-white-parts;
    font-size: 14px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 22px;
    }
  }
}

.backmenu__opened {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: $for-grey-parts;
  @include area($height: none, $width: 50px);
  display: flex;
  align-items: center;
  padding-left: 10px;
  @include transition($property: width, $property2: none, $property3: none);

  &__icon {
    fill: $for-orange-parts;
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: inherit;
    width: 300px;
  }

  &__text {
    color: $for-true-white-parts;
    @include transition($property: color, $property2: none, $property3: none);

    &:hover {
      color: $for-orange-parts;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__list {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
