.backmenu-opened{
    opacity: 0; 
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #757575;
    width: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: width;
  }
  
  .backmenu-closed{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: enter-from-left;
    animation-duration: 1s;
  }
  
  .backmenu-closed-title{
    writing-mode: vertical-lr;
    color: #fff;
  }
  
  .backmenu-icon{
    fill: #f1b31c;
    width: 20px;
    height: 20px;
  }
  
  .backmenu-opened:hover{
    opacity: inherit;
    width: 300px;
  }
  
  .backmenu-text{
    color: #ffffff;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: color;
  }
  
  .backmenu-text:hover{
    color: #f1b31c;
  }
  
  .backmenu-item{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .backmenu-list{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }