/* Basement */
.basement {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: $for-black-parts;
  @include animation($name: enter-from-down);
  @include area ($width: 480px, $height: none);

  @media screen and (min-width: 768px) and (max-width:1199px) {
    @include area ($width: 768px, $height: none);
  }

  @media screen and (min-width:1200px) {
    @include area ($width: 1200px, $height: none);
  }

  &__logo {
    margin-bottom: 20px;
    display: block;
    background: linear-gradient(90deg, $for-blue-parts, $for-true-white-parts);
    -webkit-background-clip: text;
    background-size: 144px 31.2px;
    -webkit-text-fill-color: transparent;
    text-align: center;
    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__logobluepart {
    color: $for-blue-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
  }
  &__logowhitepart {
    color: $for-true-white-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  &__adress {
    color: $for-true-white-parts;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    width: 231px;
    text-align: center;
    @media screen and (min-width:1200px) {
      text-align: start;
    }
  }

  &__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    display: flex;

    @media screen and (min-width:1200px) {
      flex-direction: row;
    }
  }
  &__tele,
  &__mail {
    color: $for-light-grey-parts;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    @include transition($property: color, $property2: none, $property3: none);
    @media screen and (min-width:1200px) {
      text-align: start;
    }
    
  }

  &__text__container{
    width: 237px;
  }

  &__information{


    @media screen and (min-width:768px) and (max-width:1199px) {
      width: 603px;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width:1200px) {
      flex-direction: row;
      display: flex;
      width: 507px;
      column-gap: 70px;
      margin-right: 93px;
    }
  }

  &__tele {
    &:hover {
      color: $for-blue-parts;
    }
  }

  &__mail {
    &:hover {
      color: $for-blue-parts;
    }
  }

  &__list {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__item{
    display: flex;
    justify-content: center;
    @media screen and (min-width:1200px) {
      justify-content: start;
    }
  }

  &__icons {
    // margin-left: 70px;
    width: 237px;
    @media screen and (min-width:1200px) {
      display: flex;
      justify-content:center ;
      flex-direction: column;
    }
  }

  &__icon__list {
    display: flex;
    column-gap: 10px;
    padding: 0px 16px;
  }

  &__icon__title {
    color: $for-true-white-parts;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    @media screen and (min-width:1200px) {
      text-align: start;
      margin-top: 0;
    }
  }

  &__icon {
    @include area($height: 20px, $width: 20px);
    fill: $for-true-white-parts;
  }

  &__icon__link {
    @include area($height: 44px, $width: 44px);
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 23px;
    cursor: pointer;
    display: block;
    @include transition(
      $property: background-color,
      $property2: none,
      $property3: none
    );

    &:hover,
    &:focus {
      background-color: $for-blue-parts;
    }
  }

  &__form {
    // margin-left: 93px;
    @include area($height: none, $width: 450px);
  }

  &__form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width:1200px) {
      flex-direction: row;
      align-items: start;
    }
  }

  &__form__title {
    color: $for-true-white-parts;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;
    @media screen and (min-width:1200px) {
      text-align: start;
      margin-top: 0;
    }
  }

  &__form__input {
    @include area($height: 50px, $width: 450px);
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: $for-true-white-parts;
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
      @include area($height: 50px, $width: 358px);
      margin-right: 12px;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
      letter-spacing: 0.48px;
    }
  }

  &__form__button {
    @include area($height: 50px, $width: 200px);
    flex-shrink: 0;
    border-radius: 4px;
    background: $for-blue-parts;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $for-true-white-parts;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(
      $property: box-shadow,
      $property2: none,
      $property3: none
    );

    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
    }
  }

  &__form__icon {
    @include area($height: 24px, $width: 24px);
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    fill: $for-true-white-parts;
  }
}
