
/* Basement */
.basement {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: $for-black-parts;
    animation-name: enter-from-down;
    animation-duration: 1s;

        
  &__logo {
    margin-bottom: 20px;
    display: block;
    background: linear-gradient(90deg, $for-blue-parts, $for-true-white-parts);
  -webkit-background-clip: text;
  background-size: 144px 31.2px;
  -webkit-text-fill-color:
  transparent;
  }
  
  &__logobluepart {
    color: $for-blue-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
  }
  &__logowhitepart {
    color: $for-true-white-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  
  &__adress {
    color: $for-true-white-parts;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    width: 231px;
  }
  
  &__container {
    flex-direction: row;
    justify-content: start;
    align-content: normal;
    row-gap: 20px;
    display: flex;
  }
  &__tele,
  &__mail {
    color: $for-light-grey-parts;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
  }

  &__tele{
    &:hover {
      color: $for-blue-parts;
    }
  }

  &__mail{
    &:hover{
      color: $for-blue-parts;
    }
  }
  
  &__list {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }
  
  &__icons {
    margin-left: 70px;
  }
  
  &__icon-list {
    display: flex;
    column-gap: 10px;
  }
  
  &__icon-title {
    color: $for-true-white-parts;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    fill: $for-true-white-parts;
  }
  
  &__icon-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 23px;
    cursor: pointer;
    display: block;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;

    &:hover,
    &:focus {
      background-color: $for-blue-parts;
    }
  }
  
  &__form {
    margin-left: 93px;
    width: 570px;
  }
  
  &__form-container {
    display: flex;
  }
  
  &__form-title {
    color: $for-true-white-parts;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  &__form-input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    padding-left: 16px;
    color: $for-true-white-parts;

      
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
  }
  }

  &__form-button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $for-blue-parts;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $for-true-white-parts;
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 28px 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: box-shadow;
    transition-duration: 250ms;
      
  &:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
  }

  }
  
  &__form-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    fill: $for-true-white-parts;
  }
  }
