.head {
    padding-top: 24px;
    padding-bottom: 25px;
    border: $for-strange-white-parts 1px solid;
    position: fixed;
    background-color: $for-true-white-parts;
    width: 100%;
    z-index: 2;
    animation-name: enter-from-up;
    animation-duration: 1s;

    &__container{
      display: flex;
    }

      
  &__logobluepart {
    color: $for-blue-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
  }
  
  &__logo{
    background-image: linear-gradient(90deg, $for-blue-parts, $for-true-black-parts);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 144px 31.2px;
  }
  
  &__logoblackpart {
    color: $for-true-black-parts;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
  }
  
  &__page {
    color: $for-true-black-parts;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
    transition-property: color;

      
  &::after{
    width: 100%;
    height: 4px;
    content: '';
    display: block;
    background-color: $for-blue-parts;
    border-radius: 2px;
    opacity: 0;
    position: absolute;
    top: 45px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    transition-duration: 250ms;
    transition-property: transform;
  }
  
  &:hover,
  &:focus {
    color: $for-blue-parts;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
  }
} 
  &__item{
    position: relative;

    &:hover .head__page:after{
      opacity: 1;
      transform: scaleX(1);
    }
}
  
  &__tel,
  &__email {
    color: $for-grey-parts;
    font-weight: 500;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 250ms;
  }
  
  &__icon__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill:$for-grey-parts;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }
  
  &__icon__tel {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: $for-grey-parts;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }

  &__tel {
    display: flex;
    align-items: center;
  }
  
  &__email{
    display: flex;
    align-items: center;
  }
  
  &__list2 &__item:hover &__icon__mail,
  &__list2 &__item:hover &__icon__tel,
  &__list2 &__item:hover &__tel,
  &__list2 &__item:hover &__email,
  &__email:focus &__icon-mail,
  &__tel:focus &__icon-tel,
  &__tel:focus,
  &__email:focus {
    fill: $for-blue-parts;
    color: $for-blue-parts;
    cursor: pointer;
  }
  
  &__logo {
    margin-right: 93px;
  }
  &__list,
  &__list2 {
    column-gap: 50px;
    display: flex;
    align-items: center;
  }
  &__list2 {
    margin-left: 298px;
  }
  
}