.head__item:nth-child(2) .head__page::after {
  opacity: 1;
  transform: scaleX(1);
}

.heroport {
  padding-top: 94px;
  padding-bottom: 50px;
  padding-top: 80.5px;
  overflow: hidden;

  &__container{
    @media screen and (min-width:1200px) {
     padding: 0 10px;
    }
  }

  &__blacktag {
    background-color: $for-white-parts;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding: 6px 22px;
    outline: none;
    border: none;
    @include transition(
      $property: background-color,
      $property2: color,
      $property3: box-shadow
    );

    &:hover,
    &:focus {
      background-color: $for-blue-parts;
      color: $for-true-white-parts;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
  }

  &__items {
    display: flex;
    column-gap: 8px;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: auto;
    @media screen and (min-width:768px) and (max-width:1199px) {
      justify-content: center;
    }
    @media screen and (min-width:1200px) {
      justify-content: center;
    }

    &:first-child,
    &:nth-child(2) {
      @include animation($name: enter-from-left);
    }

    &:nth-child(3) {
      @include animation($name: enter-from-up);
    }

    &:nth-child(4),
    &:last-child {
      @include animation($name: enter-from-right);
    }
  }
}
