/*portfolio LOP(list of products) */
.lop {
  padding-bottom: 94px;
  overflow: hidden;

  &__products {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    @media screen and (min-width:768px) and (max-width:1199px) {
      column-gap: 30px;
    }
    @media screen and (min-width:1200px) {
      column-gap: 30px;
    }
  }
  &__tag {
    color: $for-grey-parts;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }

  &__slog {
    color: $for-true-black-parts;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 4px;
  }
  &__product {
    background-color: $for-true-white-parts;
    border: 1px solid $for-strange-white-parts;
    flex-basis: calc((100% - 0 * 0px) / 1);
    @include area($height: none, $width: 370px);
    padding-bottom: 20px;
    @media screen and (min-width:768px) and (max-width:1199px) {
      flex-basis: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width:1200px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }

    &:first-child {
      @include animation($name: enter-from-upleft);
    }

    &:nth-child(2) {
      @include animation($name: enter-from-up);
    }

    &:nth-child(3) {
      @include animation($name: enter-from-upright);
    }

    &:nth-child(4) {
      @include animation($name: enter-from-left);
    }

    &:nth-child(5) {
      @include animation($name: enter-from-center);
    }

    &:nth-child(6) {
      @include animation($name: enter-from-right);
    }

    &:nth-child(7) {
      @include animation($name: enter-from-downleft);
    }

    &:nth-child(8) {
      @include animation($name: enter-from-down);
    }

    &:last-child {
      @include animation($name: enter-from-downright);
    }
  }

  &__card__container {
    display: block;
    position: relative;
    @include transition(
      $property: box-shadow,
      $property2: none,
      $property3: none
    );

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay,
    &:focus .overlay {
      background-color: rgba(33, 150, 243, 0.9);
      @include area($height: 294px, $width: 370px);
      position: absolute;
      transform: scaleY(1);
      transform-origin: bottom;
    }

    &:hover .overlay__text,
    &:focus .overlay__text {
      opacity: 1;
    }
  }

  &__text {
    padding-left: 24px;
  }

  &__rad__container {
    display: block;
  }

  &__image{
    height: 294px;
  }
}

.overlay {
  @include transition($property: transform, $property2: none, $property3: none);
  transform: scaleY(0);

  &__text {
    position: absolute;
    opacity: 0;
    left: 24px;
    top: 63px;
    @include transition($property: opacity, $property2: none, $property3: none);
    color: $for-true-white-parts;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
    position: absolute;
    @media screen and (min-width:768px) and (max-width:1199px) {
      left: 24px;
    top: 49px;
    }
    @media screen and (min-width:1200px) {
      left: 24px;
    top: 77px;
    }
  }
}
