/* Regular customers(regcustomers) */

.regcustomers {
  padding: 60px 0px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    color: $for-black-parts;
    margin-bottom: 30px;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    @include animation($name: enter-from-up);
    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }

  &__icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    @media screen and (min-width:768px) and (max-width:1199px) {
      flex-direction: row;
      width: 100%;
    }
    @media screen and (min-width:1200px) {
      flex-direction: row;
    }
  }

  &__icon__link {
    @include area($width: 37.8%, $height: 92px);
    border: $for-strange-grey-parts 1px solid;
    border-radius: 4px;
    cursor: pointer;
    @include transition($property: border, $property2: none, $property3: none);
    @media screen and (min-width:768px) and (max-width:1199px) {
      width: 170px;
    }
    @media screen and (min-width:1200px) {
      width: 170px;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      @include animation($name: enter-from-left);
    }

    &:last-child,
    &:nth-child(5),
    &:nth-child(4) {
      @include animation($name: enter-from-right);
    }

    &:hover .regcustomers__icon,
    &:focus .regcustomers__icon {
      fill: $for-blue-parts;
    }

    &:hover,
    &:focus {
      border: $for-blue-parts 1px solid;
    }
  }

  &__icon {
    @include area($height: 92px, $width: 100%);
    fill: $for-strange-grey-parts;
    @include transition($property: fill, $property2: none, $property3: none);
  }
}
