/* Regular customers(regcustomers) */

.regcustomers {
  padding: 94px 0px;
  overflow: hidden;

  &__title {
    color: $for-black-parts;
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    animation-name: enter-from-up;
    animation-duration: 1s;
  }

  &__icons {
    display: flex;
    column-gap: 30px;
  }

  &__icon__link {
    width: 170px;
    height: 92px;
    border: $for-strange-grey-parts 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
    transition-duration: 250ms;

    &:first-child,
    &:nth-child(2),
    &:nth-child(3) {
      animation-name: enter-from-left;
      animation-duration: 1s;
    }

    &:last-child,
    &:nth-child(5),
    &:nth-child(4) {
      animation-name: enter-from-right;
      animation-duration: 1s;
    }

    &:hover .regcustomers__icon,
    &:focus .regcustomers__icon {
      fill: $for-blue-parts;
    }

    &:hover,
    &:focus {
      border: $for-blue-parts 1px solid;
    }
  }

  &__icon {
    width: 170px;
    height: 92px;
    fill: $for-strange-grey-parts;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    transition-duration: 250ms;
  }
}
