/*index WWD(what we do) */
.wwd {
  padding-bottom: 94px;
  overflow: hidden;

  &__container {
    justify-content: center;
    row-gap: 50px;
  }

  &__slog {
    color: $for-true-black-parts;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    @include animation ($name: enter-from-up);
  }

  &__list,
  &__item {
    display: flex;
    column-gap: 30px;
  }

  &__item {
    position: relative;
    z-index: -1;

    &:first-child {
      @include animation ($name: enter-from-left);
    }

    &:nth-child(2) {
      @include animation ($name: enter-from-down);
    }

    &:last-child {
      @include animation ($name: enter-from-right);
    }
  }

  &__photo__text {
    position: absolute;
    @include area ($height:70px, $width:100%);
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: Roboto;
    top: 224px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $for-true-white-parts;
  }
}
