/*index WWD(what we do) */
.wwd {
  padding-bottom: 94px;
  overflow: hidden;

  &__container {
    justify-content: center;
    row-gap: 50px;
  }

  &__slog {
    color: $for-true-black-parts;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    animation-name: enter-from-up;
    animation-duration: 1s;
  }

  &__list,
  &__item {
    display: flex;
    column-gap: 30px;
  }

  &__item {
    position: relative;
    z-index: -1;

    &:first-child {
      animation-name: enter-from-left;
      animation-duration: 1s;
    }

    &:nth-child(2) {
      animation-name: enter-from-down;
      animation-duration: 1s;
    }

    &:last-child {
      animation-name: enter-from-right;
      animation-duration: 1s;
    }
  }

  &__photo__text {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: Roboto;
    top: 224px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $for-true-white-parts;
  }
}
