.lop__container,
.head__container,
.wwd__container,
.ourteam__container,
.hero__container,
.heroport__container,
.pluses__container,
.basement__container,
.regcustomers__container {
  /* outline: solid red 2px; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.all {
  font-family: Roboto;
  font-size: 14px;
  position: relative;
}

.center {
  padding-top: 80.5px;
}