.container {
  outline: solid red 2px;
  margin: 0 auto;
  max-width: 480px;
  padding: 0px 15px;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.all {
  font-family: Roboto;
  font-size: 14px;
  position: relative;
}

.center {
  padding-top: 73.6px;
  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 80.5px;
  }
}