.lop-container,
.head-container,
.wwd-container,
.ourteam-container,
.hero-container,
.heroport-container,
.pluses-container,
.basement-container,
.regcustomers-container {
  /* outline: solid red 2px; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.all {
  font-family: Roboto;
  font-size: 14px;
  position: relative;
}

:root {
  --for-blue-parts: #2196f3;
  --for-white-parts: #f5f4fa;
  --for-true-white-parts: #ffffff;
  --for-black-parts: #2f303a;
  --for-light-grey-parts: #ffffff99;
  --for-grey-parts: #757575;
  --for-true-black-parts: #212121;
  --for-strange-white-parts: #eeeeee;
}

.center {
  padding-top: 80.5px;
}