.scroll__button{
    border-radius: 100px;
    @include area ($height:100px, $width:100px);
    position: fixed;
    bottom: 50px;
    right: 50px;
    @include transition ($property: width, $property2:height, $property3: none);
    background-color: $for-grey-parts;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    &:hover{
      @include area ($height:110px, $width:110px);
    }
    
    &:hover &__icon{
      @include area ($height:80px, $width:80px);
    }
    
    &__icon{
      @include area ($height:70px, $width:70px);
      @include transition ($property: width, $property2: height, $property3:none);
    }
  }
