.scroll__button{
    border-radius: 100px;
    @include area ($height:40px, $width:40px);
    position: fixed;
    bottom: 50px;
    right: 50px;
    @include transition ($property: width, $property2:height, $property3: none);
    background-color: $for-grey-parts;
    padding: 7.5px 7.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 10px 10px;
      @include area ($height:45px, $width:45px);
    }
    @media screen and (min-width: 1200px) {
      padding: 15px 15px;
      @include area ($height:55px, $width:55px);
    }
    
    &:hover{
      @include area ($height:50px, $width:50px);
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include area ($height:55px, $width:55px);
      }
      @media screen and (min-width: 1200px) {
        @include area ($height:65px, $width:65px);
      }
    }
    
    &:hover &__icon{
      @include area ($height:35px, $width:35px);

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include area ($height:40px, $width:40px);
      }
      @media screen and (min-width: 1200px) {
        @include area ($height:50px, $width:50px);
      }
    }
    
    &__icon{
      @include area ($height:25px, $width:25px);
      @include transition ($property: width, $property2: height, $property3:none);
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include area ($height:30px, $width:30px);
      }
      @media screen and (min-width: 1200px) {
        @include area ($height:40px, $width:40px);
      }
    }
  }
