$for-blue-parts: #2196f3;
$for-white-parts: #f5f4fa;
$for-true-white-parts: #ffffff;
$for-black-parts: #2f303a;
$for-light-grey-parts: #ffffff99;
$for-grey-parts: #757575;
$for-true-black-parts: #212121;
$for-strange-white-parts: #eeeeee;
$for-orange-parts: #f1b31c;
$for-strange-blue-parts: #1768aa;
$for-strange-grey-parts: #afb1b8;